.navbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: #8ECDF3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar .btn-info {
  background-color: white;
  color: #29C4B9;
  font-weight: bold;
  border: none;
}

.navbar .btn-info:hover {
  background-color: #1fa79e;
  color: white;
}

body {
  background: url('/img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding-top: 90px; 
}

.container-a {
  margin: 25px;
}

.ventana {
  width: 700px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

.barra-modulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a8c7ff;
  padding: 5px 10px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modulo-nombre {
  background-color: white;
  border: 1px solid #aaa;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: bold;
}

.zona-actividad {
  padding: 10px;               
  height: 420px;               
  background: #0096D8;
  border: #333 6px solid;      
  margin: 10px;                
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.juego {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;                    
  justify-items: center;
  align-items: center;
}

.juego > div {
  background-color: #eee;
  background-image: url(/img/logo_figura.png);
  background-size: cover;

  width: 85px;
  height: 85px;

  border: #000 1px solid;
  margin: 0;    
  padding: 0;   

  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}


.zona-actividad p {
  font-size: 16px;
  color: #333;
}

.regresar {
  margin-bottom: 15px;
  width: 100%;
  font-weight: bold;
  border-color: aliceblue;
}
