/* Navbar */
.navbar {
    background-color: #8ECDF3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar .btn-info {
  background-color: white;
  color: #29C4B9;
  font-weight: bold;
  border: none;
}

.navbar .btn-info:hover {
  background-color: #1fa79e;
  color: white;
}

/*Body*/
body {
  background: url('/img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

/*Ventana Actividad*/
.ventana {
  width: 700px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  overflow: hidden;
}

/* Barra del módulo */
.barra-modulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a8c7ff;
  padding: 5px 10px;
}

.nav-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modulo-nombre {
  background-color: white;
  border: 1px solid #aaa;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: bold;
}

/* Zona de actividad (área clicable) */
.zona-actividad {
  height: 450px;
  background: #0096D8;
  border: #333 10px solid;
  margin: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*
  cursor: pointer;
  transition: background 0.3s;
  */
}

 /*
.zona-actividad:hover {
  background-color: #c7c7c7;
}
*/

.juego > div {
  background-color: #eee;
  background-image: url(/img/logo_figura.png);
  background-size: cover;
  border: #000 1px solid;
  width: 80px;
  height: 80px;
  float: left;
  margin: 10px;
  padding: 20px;
  font-size: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  text-align: center;
}

.zona-actividad p {
  font-size: 16px;
  color: #333;
}

