.navbar {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background-color: #8ECDF3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar .btn-info {
  background-color: white;
  color: #29C4B9;
  font-weight: bold;
  border: none;
}

.navbar .btn-info:hover {
  background-color: #1fa79e;
  color: white;
}

body {
  background: url('/img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  padding-top: 90px; 
}

.card {
  width: 18rem;
  margin: 50px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.card-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.card-link:hover {
  transform: scale(1.03);
}
