body {
      background: url('/img/fondo.png') no-repeat center center fixed;
      background-size: cover;
      font-family: 'Segoe UI', sans-serif;
    }
.caja-registro{
      background-color: rgba(255, 255, 255, 0.95);
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
.logo-ludilogic{
      display: flex;
      align-items: center;
      justify-content: center;
    }
